body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 26%;
}

main{
    flex: 1;
    padding-top: 65px;
    padding-bottom: 230px;
}

#form-container {
width: 20%;
height: 100%;
}

#form-container #title{
    margin-bottom: 25px;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}

form p, form input,
form button{
    width: 100%;
}

form input{
    padding: 0px 10px;
}

form input,
form button{
    height: 36px;
    margin: 7px 0;
    border-radius: 5px;
    border: 2px solid rgb(221, 221, 221);
}

form p{
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 0;
}

form #submit{
    background-color: rgb(69, 69, 69);
    color: white;
}

#swap-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

#swap-div p{
    margin: 0;
}

#swap-div a{
    text-decoration: none;
    color: rgb(28, 79, 230);
    font-weight: 900;
}


