html,
body {
	margin: 0px;
	padding: 0px;
}

header {
	width: 100%;
	height: fit-content;
	position: fixed;
	display: block;
	align-items: center;
	z-index: 1000;
}

iframe {
	bottom: 0;
	border: 0px;
	width: 100%;
	height: 100%;
}

footer iframe {
	height: 230px;
}

footer{
    line-height: 0px;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

