
body,html{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

main{
    padding-top: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .title{
    border-bottom: 3px solid #FAB005;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:moveFromBottom 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes moveFromBottom{
    from{
      translate: 0 50px;
      opacity: 0;
    }
    to{
      translate: 0 0;
      opacity: 1;
    }
}

.container-flex{
    /* border: 2px solid black; */
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    padding: 20px;
}

.container-input{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 48%;
    box-sizing: border-box;
}

.ui-autocomplete {
    width: 32.2% !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: auto;
    max-height: 28%;
}


.ui-widget{
    display: block;
    width: 100%;
}

.ui-widget p{
    margin: 0px;
}

.ui-widget input:focus{
    outline: none !important;
    border-color: blue;
    box-shadow: 0px 0px 10px blue;
}

.container-table{
    /* width: 48%; */
    min-width: 48%;
}

/* .ui-autocomplete-input {
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
} */