@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

header {
	width: 100%;
    height: fit-content;
    position: fixed;
    z-index: 100;
    display: flex;  
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

main {
    padding-top: 55px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-about-right{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    right: 25px;
    top: 15px;
    opacity: 0;
    animation-name: fade_in_and_bounce_from_right;
    animation-duration: 1.1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    z-index: 1000;
}



.nav-about-right .right-bar-button a{
    text-decoration: none;
    color: #FAB005;
    font-weight: 600;
}

.nav-about-right .right-bar-button a:hover{
    color: rgb(255, 234, 96);
}

main .campus{
    width: 100%;
    height: 250px;
    animation:moveFromTop 1s cubic-bezier(0.215, 0.610, 0.355, 1);

}

@keyframes moveFromTop {
    from{translate: 0 -100px;}
    to{translate: 0 0;}
}

main .campus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .title{
    border-bottom: 3px solid #FAB005;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:moveFromBottom 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes moveFromBottom{
    from{
      translate: 0 50px;
      opacity: 0;
    }
    to{
      translate: 0 0;
      opacity: 1;
    }
}

main .title h1{
    margin: 0.7em;
}

.about-section{
    padding-top: 20px;
    width: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-title{
    display: inherit;
    align-items: inherit;
    margin: 25px;
    margin-top: 45px;
}

.sub-title img{
    height: 30px;
}

.sub-title h2{
    margin-left: 2px;
    color: #9F0000;
    font-size: 30px;
}

.text-box{
    background-color: rgba(178, 178, 178, 0.107);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.content{
    width: 50%;
}

.content p{
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-size: 22px;
    color: gray;
    font-style: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-container,.grid-container-logos{
    width: 70%;
    display: grid;
    gap: 7px;
}

.grid-container{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-container-logos{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    row-gap: 80px;
}

.box{
    border: 2px solid rgb(181, 181, 181);
    border-radius: 5px;
    padding: 15px;
}

.box h3{
    font-size: 1.3em;
    font-family: "Teko", serif;
    text-transform: uppercase;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    font-style: normal;
    border-bottom: 2px solid rgba(181, 181, 181, 0.564);
    margin: 0;
    padding-bottom: 15px;
}

.box p{
    font-family: "Karla", serif;
    font-size: 0.8em;
    text-align: justify;
    color: rgb(30, 30, 30);
}

.box-logo{
width: 100%;
}

.box-logo h3{
    font-size: 1.2em;
    font-family: "Teko", serif;
    text-transform: uppercase;
    text-align: justify;
    word-spacing: 0em;
    font-weight: 400;
    border-bottom: 2px solid rgba(181, 181, 181, 0.564);
    margin: 0;
    padding-bottom: 15px;
}

.box .year{
    color: rgb(53, 53, 203);
}


.box-logo .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box-logo img{
    height: 100%;
    object-fit: cover;
}

.location-section{
    background-image: url(/img/kakoDoNas.jpg);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
}

.location-container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.left-container, .right-container{
    background-color: white;
    color: black;
    width: 45%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
    padding: 10px;
}

.sub-title-map{
    display: flex;
    align-items: center;
}

.sub-title-map img{
    height: 18px;
}

.sub-title-map h3{
    font-family: "Lexend Deca", serif;
    margin-left: 2px;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-left: 3px;
}

.article p{
    margin: 20px 60px;
}

.map-container{
    height: 400px;
    width: 93%;
}

.map-container .map{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 5px;
}

iframe {
	bottom: 0;
	border: 0px;
	width: 100%;
	height: 100%;
}

footer iframe {
	height: 230px;
}

footer{
    line-height: 0px;
}


@keyframes fade_in_and_bounce_from_right
{
    0%, 60%, 75%, 90%, 100%
    {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0%
    {
        opacity: 0;
        transform: translateX(2000px);
    }

    60%
    {
        opacity: 1;
        transform: translateX(-25px);
    }

    75%
    {
        transform: translateX(15px);
    }

    90%
    {
        transform: translateX(-5px);
    }

    100%
    {
        opacity: 1;
        transform: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-about-right {
        display: none;
    }
  }


  		
/* Screen larger than 600px? 2 column */
@media (max-width: 1300px) {
    .grid-container { grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
    }
    
    /* Screen larger than 900px? 3 columns */
    @media (max-width: 1000px) {
        .grid-container { grid-template-columns: repeat(1, 1fr);
            width: 60%;
        }
    }
@media (max-width: 600px){
    .grid-container .box{margin-bottom: 10px;}
    .grid-container .box p{ display: none;}
    .grid-container .box h3{
        border: none;
        padding: 0;
    }
}