.bg-body-tertiary
{
    background-color: black !important;
}

.navbar-nav .nav-item .nav-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3px;
}

.navbar-nav .nav-item .nav-link:hover{
    color: rgb(255, 234, 96);
}

.nav-item .nav-link img{
    height: 18px;
}

.nav-item .nav-link p{
    color: white;
    font-weight: 600;
    margin: 0;
}

.navbar-toggler{
    background-color: orange;
    width: 2.2em;
    height: 2.2em;
}
