body{
  display: flex;
  flex-direction: column;
}

header{
  display: block;
  z-index: 10;
  height: fit-content;
}

main{
  padding-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .wall-picture{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:moveFromTop 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes moveFromTop {
  from{translate: 0 -100px;}
  to{translate: 0 0;}
}


main .wall-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

main .wall-picture h2{
    position: absolute;
    color: white;
    width: 50%;
    font-size: 2.2em;
    text-shadow: 1px 1px 2px black;
}

main .title{
    border-bottom: 3px solid #FAB005;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:moveFromBottom 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes moveFromBottom{
  from{
    translate: 0 50px;
    opacity: 0;
  }
  to{
    translate: 0 0;
    opacity: 1;
  }
}

main .title h1{
    margin-top: 0.7em;
    margin-bottom: 0.5em;
}


/* font-change */
.text{
    width: 65%;
    font-size: 1.1em;
    margin: 50px;
    margin-bottom: 0px;
}

.container-gallery {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.fancy-box {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

.fancy-box:hover{
  transform: scale(1.05);
  transition: all .225s ease-in-out;
  box-shadow: 2px 2px 6px black;
}

.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 6px;
}


  @media screen and (max-width: 768px) {
    body {
      flex-direction: column;
    }
  
    main .wall-picture {
      height: 200px;
    }
  
    main .wall-picture h2 {
      font-size: 1.5em;
      width: 80%;
      text-align: center; 
    }
  
    main .title {
      width: 80%;
    }
  
    .text {
      width: 90%;
      font-size: 1em;
    }
  
    .video-container {
      width: 100%;
    }
  
    .video-container video {
      width: 100%;
    }

    .container-gallery{
      width: 75%;
    }

    .gallery {
      flex-direction: column;
      gap: 20px;
    }
  
    .fancy-box {
      width: 100%;
    }
  }
  