<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/common-components/client-style-footer-header/client.css">
    <link rel="stylesheet" href="dashboard-home.css">
    <link rel="icon" href="/img/Algebra-logo.png">
    <title>SUPIT</title>
</head>
<body>
    <header></header>
    <main>
        <div class="home-background-video">
            <video autoplay muted loop src="/video/typingOnlaptop.mp4" alt="no response video"></video>
        </div>
        <div class="typeWriter-text">
            <p>Budi izvrstan u onome što vidiš.</p> 
        </div> 
    </main>
    <script src="/packages/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/common-components/header/header-client.js"></script>
</body>
</html>