<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/common-components/client-style-footer-header/client.css">
    <link rel="stylesheet" href="/pages/auth/auth-styles/auth.css">
    <link rel="icon" href="/img/Algebra-logo.png">
    <title>SUPIT</title>
</head>
<body>
    <header>
        <iframe id="nav-bar" src="/common-components/header/header.html"></iframe>
    </header>
    <main>
        <div id="form-container">
            <h2 id="title">Prijava Korisnika</h2>
            <form action="get">
                <p>Korisničko ime</p>
                <input type="text" name="username" id="username">
                <p>Lozinka</p>
                <input type="text" name="password" id="password">
                <button type="submit" id="submit">Prijavi se</button>
            </form>
            <div id="swap-div">
                <div>
                    <p>Nemaš račun?</p>
                </div>
                <div>
                    <a href="/pages/auth/register/components/register-dashboard.html">Registriraj se</a>
                </div>
            </div>
        </div>
    </main>
    <footer>
		<iframe src="/common-components/footer/footer.html" frameborder="0"></iframe>
    </footer>
</body>
</html>