<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pages/auth/auth-styles/auth.css">
    <link rel="icon" href="/img/Algebra-logo.png">
    <title>SUPIT</title>
</head>
<body>
    <main>
        <div id="form-container">
            <h2 id="title">Prijava Korisnika</h2>
            <form>
                <p>Korisničko ime</p>
                <input type="text" name="username" id="username">
                <p>Lozinka</p>
                <input type="password" name="password" id="password">
                <button type="submit" id="submit">Prijavi se</button>
            </form>
            <div id="swap-div">
                <div>
                    <p>Nemaš račun?</p>
                </div>
                <div>
                    <a href="/pages/auth/register/components/register-dashboard.html">Registriraj se</a>
                </div>
            </div>
        </div>
    </main>
    <script src="/packages/node_modules/jquery/dist/jquery.js"></script>
    <script src="/common-components/header/header-client.js"></script>
    <script src="/common-components/footer/footer-client.js"></script>
    <script src="/pages/auth/logIn/components/logIn.js"></script>
</body>
</html>