<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="/common-components/client-style-footer-header/client.css">
    <link rel="stylesheet" href="dashboard-news.css">
    <link rel="icon" href="/img/Algebra-logo.png">
    <title>SUPIT</title>
</head>
<body>
    <header></header>
    <main>
        <div class="title">
            <h1>Novosti</h1>
        </div>

        <div id="content-container">
            <div id="content">
                <a href="/pages/news/articles/article-1/article-1.html">
                    <div class="news-box">
                        <img src="/img/novost1.jpg" alt="">
                        <div class="text-inside-img">
                            <p class="yellow-text">28.08.2019.</p>
                            <p class="text">Student Josip Stenišić
                                12. je sistemaš svijeta i dobitnik medalje
                                za izvrsnost
                                na natjecanju WorldSkills Kazin 2019.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/pages/news/articles/article-2/article-2.html">
                    <div class="news-box">
                        <img src="/img/novost2.jpg" alt="">
                        <div class="text-inside-img">
                            <p class="yellow-text">22.07.2019.</p>
                            <p class="text">Nagrađujemo izvrsnost: Objevljujemo
                                dobitnike stipendijskog natječaja šk. god. 2018./2019.!
                            </p>
                        </div>
                    </div>
                </a>
                <a href="/pages/news/articles/article-3/article-3.html">
                    <div class="news-box">
                        <img src="/img/novost3.jpg" alt="">
                        <div class="text-inside-img">
                            <p class="yellow-text">18.04.2019.</p>
                            <p class="text">Digitalno Junior ljeto</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <footer>
		<iframe src="/common-components/footer/footer.html" frameborder="0"></iframe>
    </footer>
    
    <script src="/packages/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="/common-components/header/header-client.js"></script>
</body>
</html>