
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main{
    padding-top: 65px;
}

main .title{
    border-bottom: 3px solid #FAB005;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .title h1{
    margin: 0.5em;
}

.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.57);
    padding: 35px 180px;
    margin-top: 35px;
}

.content .news-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 20px solid rgb(228, 228, 228);
    box-shadow:0 0 12px rgba(118, 118, 118, 0.559);
}

.content a{
    border-radius: 50%;
}


.content .text-inside-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
    color: white;
    padding: 40px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    border-radius: 50%;
}

.content .yellow-text{
    color: yellow;
}
