
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header{
    background-color: black;
}

main{
    padding-top: 65px;
}

main .title{
    border-bottom: 3px solid #FAB005;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:moveFromBottom 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

@keyframes moveFromBottom{
    from{
      translate: 0 50px;
      opacity: 0;
    }
    to{
      translate: 0 0;
      opacity: 1;
    }
}

main .title h1{
    margin: 0.5em;
}

#content-container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.57);
    margin: 95px 280px;
    /* margin-top: 55px; */
}

#content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    animation: resizeIn 1.2s cubic-bezier(0.215, 0.610, 0.355, 1);
}


@keyframes resizeIn{
    from{
    transform: scale(0.5);
    opacity: 0;
    }
    to{
    transform: scale(1);
    opacity: 1;
    }
}

#content .news-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 20px solid rgb(228, 228, 228);
    box-shadow:0 0 12px rgba(118, 118, 118, 0.559);
    transition-duration: 0.25s;
}

#content img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#content p{
    margin: 0;
}

#content a{
    padding: 10px;
    border-radius: 50%;
}

#content .news-box:hover{
    border: 20px solid rgb(209, 209, 209);
}

#content .text-inside-img{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: inherit;
    height: inherit;
    color: white;
    padding: 40px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
    border-radius: 50%;
}

#content .yellow-text{
    color: yellow;
}
